@font-face {
  font-family: "Bebas Neue";
  src: url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('/fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --background: #000000;
  --text: #ffffff;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}